<div data-role="page">

  <div data-role="header" data-position="inline" data-theme="b">
    <h1>Retail Demo</h1>
    <a href="<%= url_for(:action => :mainpage) %>" class="ui-btn-left"  data-icon="back" data-direction="reverse" <%= "data-ajax='false'" if is_bb6 %>>
     Back 
    </a>
      
  </div>
	<div data-role="content" class="ui-body ui-body-a">
      <ul data-role="listview" data-theme="b">
            <li  style=""><a data-ajax="false" href="<%= url_for(:action => :mgrcheckmenu) %>">
              <h3><strong><font size="3">Stephen Weber</font></strong></h3>
              <p class="ui-li-aside"><strong><font size="2">Manager</font></strong></p>
              <p><img src="/public/images/full.png" /><img src="/public/images/full.png" /><img src="/public/images/full.png" /><img src="/public/images/full.png" /></p>
           
            </a></li>
      <li  style=""><a data-ajax="false" href="<%= url_for(:action => :mgrcheckmenu) %>">
                   <h3><strong><font size="3">Penny</font></strong></h3>
                   <p class="ui-li-aside"><strong><font size="2">Cashier</font></strong></p>
                   <p><img src="/public/images/full.png" /><img src="/public/images/full.png" /><img src="/public/images/half.png" /></p>
                
                 </a></li> 
      <li  style=""><a data-ajax="false" href="<%= url_for(:action => :mgrcheckmenu) %>">
      <h3><strong><font size="3">Mike</font></strong></h3>
      <p class="ui-li-aside"><strong><font size="2">Stacker</font></strong></p>
      <p><img src="/public/images/full.png" /><img src="/public/images/half.png" /></p>
   
    </a></li> 
      <li  style=""><a data-ajax="false" href="<%= url_for(:action => :mgrcheckmenu) %>">
      <h3><strong><font size="3">John</font></strong></h3>
      <p class="ui-li-aside"><strong><font size="2">Support</font></strong></p>
      <p><img src="/public/images/full.png" /><img src="/public/images/full.png" /><img src="/public/images/full.png" /></p>
   
    </a></li>
      <li  style=""><a data-ajax="false" href="<%= url_for(:action => :mgrcheckmenu) %>">
                       <h3><strong><font size="3">Ben</font></strong></h3>
                       <p class="ui-li-aside"><strong><font size="2">Stock Controller</font></strong></p>
                       <p><img src="/public/images/full.png" /><img src="/public/images/full.png" /><img src="/public/images/half.png" /></p>
                    
                     </a></li> 
          </ul>
      <br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>
</div>
</div>