<div data-role="page">

  <div data-role="header" data-position="inline" data-theme="b">
    <h1>Retail Demo</h1>
    <a data-ajax="false" href="<%= url_for(:action => :taskdisp) %>" class="ui-btn-left"  data-icon="back" data-direction="reverse" <%= "data-ajax='false'" if is_bb6 %>>
     Back 
    </a>
      
  </div>
      <div data-role="content" class="ui-body ui-body-a">
      <ul data-role="listview">
                 <% @mains.each do |accept| %>
               
                     <li >
                       <a data-ajax="false" href="<%= url_for :action => :showmytask, :id => accept.object %>">
                         <%= accept.task %>
                       </a>
                     </li>
               
                             
                   
                 <% end %>
      <% @maincomps.each do |comp| %>
                     
                           <li data-icon="check">
                             <a href="">
                               <%= comp.task %>
                             </a>
                           </li>
                     
                                   
                         
                       <% end %>
               </ul>
      <br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>
</div>
      <div data-role="footer" data-position="fixed">
           <div data-role="navbar">
                       <ul>
                         <li><a data-ajax="false" href="<%= url_for(:action => :taskdisp) %>" >Open Tasks</a></li>
                         <li><a data-ajax="false" href="<%= url_for(:action => :showtasks) %>" class="ui-btn-active">My tasks</a></li>
                       </ul>
                     </div></div>
</div>